service cloud.firestore {
 match /databases/{database}/documents {
  match /users/{userID}{
   allow read;
   allow write: if request.auth.uid != null;
  }
  match /blogPosts/{blogID}{
   allow read;
   allow write: if request.auth.uid != null;
  }
  match /productItems/{productID}{
   allow read;
   allow write: if request.auth.uid != null;
  }
   match /featuredProducts/{featuredProductID}{
   allow read;
   allow write: if request.auth.uid != null;
  }
  }
}